<configuration>

  <appSettings>
    <add key="PORT" value="" />
    <add key="NODE_ENV" value="" />
    <add key="UNUSED_PASSWORD" value="" />
    <add key="SECRET_TOKEN" value="" />

    <add key="DEV_DB_USERNAME" value="" />
    <add key="DEV_DB_PASSWORD" value="" />
    <add key="DEV_DB_NAME" value="" />
    <add key="DEV_DB_HOST" value="" />
    <add key="DEV_DB_PORT" value="" />
    <add key="DEV_DB_DIALECT" value="" />

    <add key="TEST_DB_USERNAME" value="" />
    <add key="TEST_DB_PASSWORD" value="" />
    <add key="TEST_DB_NAME" value="" />
    <add key="TEST_DB_HOST" value="" />
    <add key="TEST_DB_PORT" value="" />
    <add key="TEST_DB_DIALECT" value="" />

    <add key="PROD_DB_USERNAME" value="" />
    <add key="PROD_DB_PASSWORD" value="" />
    <add key="PROD_DB_NAME" value="" />
    <add key="PROD_DB_HOST" value="" />
    <add key="PROD_DB_PORT" value="" />
    <add key="PROD_DB_DIALECT" value="" />
  </appSettings>

  <system.webServer>

  <handlers>
    <add name="iisnode" path="/bin/www" verb="*" modules="iisnode" />
  </handlers>

  <rewrite>
    <rules>
      <rule name="nodejs">
        <match url="(.*)" />
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="/bin/www" />
      </rule>
    </rules>
  </rewrite>

  <security>
    <requestFiltering>
      <hiddenSegments>
        <remove segment="bin" />
        <add segment="node_modules" />
        <add segment="iisnode" />
      </hiddenSegments>
    </requestFiltering>
  </security>
  </system.webServer> 
 </configuration>